.flex-row{
    display:flex;
    flex-direction: row;
    gap: 15px;
}
.flex-column{
    gap: 15px;
    display:flex;
    flex-direction: column;
}
.no-gap{
    gap: 0;
}
.full-width{
    width:100%;
}
textarea::-webkit-scrollbar {
    display: none;
  }
textarea{
    height: 25vh;
    resize: none;
}
fieldset *{
    cursor:pointer;
    user-select: none; /* Standard syntax */
}
container-label{
    width: 40px;
    text-align: end;
    padding-right: 15px;
}
.numLines {
    width:100px;
    margin-left: -100px;
    align-self:flex-end;
    text-align: end;
}