.flex-row{
    display:flex;
    flex-direction: row;
    gap: 15px;
}
.flex-column{
    gap: 15px;
    display:flex;
    flex-direction: column;
}
.no-gap{
    gap: 0;
}
.full-width{
    width:100%;
}
textarea::-webkit-scrollbar {
    display: none;
  }
textarea{
    height: 25vh;
    resize: none;
}
fieldset{
    user-select: none;
}
fieldset div *{
    cursor:pointer;
    user-select: none; /* Standard syntax */
}
container-label{
    align-self: center;
    width: 5rem;
    text-align: end;
    padding-right: 15px;
    flex-shrink: 0;
    user-select: none;
}
.num-lines {
    width:100px;
    margin-left: -100px;
    align-self:flex-end;
    text-align: end;
    padding-bottom: 5px;
    user-select: none;
}
body, textarea, button{
    background-color:#1f1f1f;
}

button{
    border: 1px solid white;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s border-color ;
    transition: 0.2s color ;
    cursor: pointer;
    user-select: none;
}
button:hover{
    border-color: lightblue;
    color: lightblue;
}
label{
    transition: 0.2s color ;
}
fieldset>div:hover label{
    color:lightblue
}
* {
    font-size: 1rem;
    font-family: roboto;
    color:white;
}
body{
    padding:15px;
}